[2019-11-18 09:35] berndruecker opened #3 "The HTTP Worker needs to access Zeebe Job data"
In some cases the HTTP Worker needs to able to pass on information about the current job, at least the job id (which is required to correlate later on).
This should be supported via expression language.

Maybe it is already possible, then just double check and document it :-)

[2019-11-18 09:40] saig0 commented on #3
Thank you for raising this up. In which way should this information be available?

Do you have any concrete examples? Please share :)

[2019-11-18 09:41] berndruecker opened #4 "Configurable behavior on HTTP status codes"
Originally came up to Allow  HTTP 202 for HTTP as a service task could be to invoke an HTTP endpoint:

![68870485-3f7dfa00-06fb-11ea-9cff-a46e7e9c6a66](https://user-images.githubusercontent.com/1217596/69040884-e65de100-09ee-11ea-885e-b4397fa50be7.png)

If that HTTP endpoint returns a 202 it means, that it will do the processing asynchronously. In this case the following behavior of the HTTP Worke

[2019-11-18 09:42] berndruecker commented on #3
See the use case mentioned in https://github.com/zeebe-io/zeebe-http-worker/issues/4

[2019-11-18 09:49] berndruecker opened #5 "Add support to read additional variables from URL"
In order to be able to move this worker in the Camunda Cloud as basis for the HTTP worker we need to

- read additional variables as JSON
- via an URL configured as environment variable 'ENV_VARS_URL'

See https://github.com/camunda-cloud/zeebe-http-worker/blob/master/src/worker/variable.handler.ts#L6

[2019-11-18 10:00] berndruecker opened #6 "Add Docker build which can be used also within Camunda Cloud"
Simple Docker file, comparable to the current Cloud Worker: https://github.com/camunda-cloud/zeebe-http-worker/blob/master/Dockerfile

[2019-11-18 10:05] berndruecker opened #7 "Check if Worker Docs need to be updated"
Double check with existing Cloud HTTP Worker docs (https://github.com/camunda-cloud/zeebe-http-worker) if this docs need to get updated

[2019-11-18 10:06] berndruecker commented on #6
See also https://github.com/zeebe-io/zeebe-http-worker/tree/master/.ci to create a build on Jenkins

[2019-11-18 12:14] berndruecker commented on #6
Still need to do the CI stuff

[2019-11-18 14:31] berndruecker opened #8 "Add health and ready check for K8S environments"
Like https://github.com/camunda-cloud/zeebe-http-worker/blob/master/src/worker/worker.ts#L25

[2019-11-18 15:46] menski commented on #6
Added to CI with cf309f5a64d97d7a4492c7f69e75163892ffb315

[2019-11-18 15:46] #6 closed

[2019-11-19 08:39] berndruecker opened #9 "Adjust test cases to get rid of call to https://jsonplaceholder.typicode.com\"
Instead run an own local Mock Http Server

[2019-11-19 09:20] berndruecker commented on #8
Probably this is the moment where we should switch the worker to use Spring Boot. @saig0 WDYT?

[2019-11-20 19:49] berndruecker commented on #5
Fixed with https://github.com/zeebe-io/zeebe-http-worker/pull/10

[2019-11-20 19:49] #5 closed

[2019-11-20 19:54] berndruecker commented on #3
Currently I would assume that we should limit the amount of data available, as this might potentially change later on when we have expressions in the broker itself (which I think could support something like "workflowInstance.id":

- Resolve ```jobKey``` to the current job.getKey()
- Resolve ```workflowInstanceKey``` to the current job.getWorkflowInstanceKey()

[2019-11-22 13:37] saig0 commented on #9
Introduced WireMock f1638d5bc910eb6ccca16a8e3bd4dfb1dfe54467

[2019-11-22 13:37] #9 closed

[2019-11-22 13:41] saig0 commented on #3
`jobKey` and `workflowInstanceKey` are exposed and can be used in placeholders (e.g. `/url/{{jobKey}}`) e54c3fc325260c4862a762415b6da121e901710a

[2019-11-22 13:41] #3 closed

[2019-11-22 13:44] saig0 commented on #4
As a first step, the worker completes a job with a variable `jobKey` that holds the key of the completed job if the status code is 202. The `jobKey` can be used to correlate asynchronous results. For example, by using the `jobKey` as `correlationKey` on a following message catch event/receive task.

See b485db58c8f7beab117e612db81bf570e30cd91a.

[2019-11-26 09:13] berndruecker opened #19 "Migrate worker to use Spring Boot"
Some future features will be much easier to implement when using Spring Boot, e.g. readyness probes or configuration of the whole Zeebe client (using https://github.com/zeebe-io/spring-zeebe).

[2019-11-26 09:24] #19 closed

[2019-11-26 09:24] berndruecker commented on #7
Mention that Spring-Zeebe is used (for config options): https://github.com/zeebe-io/zeebe-http-worker/issues/19

[2019-11-26 10:21] berndruecker commented on #8
Trying to solve this upstream in https://github.com/zeebe-io/spring-zeebe/issues/79 and possibly https://github.com/zeebe-io/zeebe/issues/3429

[2019-11-27 11:57] berndruecker commented on #8
Not considering urgent for the moment - at it is valid for the worker to loose connection and pick it up later on. It might not even be desirable that K8S kills thr worker in this case. So it would need some further disucssion first.

[2019-11-27 11:57] #8 closed

[2019-11-27 13:09] berndruecker opened #20 "Add JWT authorization to EnvironmentVariableProvider"
Example from legacy code: https://github.com/camunda-cloud/zeebe-http-worker/compare/cep004_auth_for_http-worker

Three environment variables that will be set:
* AUTH0_BASE_URL <- der endpunkt von dem man die jwt tokens beziehen kann
* AUTH0_CLIENT_ID <- die client Id fuer den spezifischen worker
* AUTH0_CLIENT_SECRET <- das dazugehoerige secret
* AUTH0_AUDIENCE < (e.g. variableEndpointAudience =

[2019-11-27 13:31] berndruecker commented on #8
Added a simple health check via the default Actuator: http://localhost:8080/actuator/health

[2019-11-27 14:03] ColRad commented on #20
So basically you need to `POST` to `AUTH0_BASE_URL` with an JSON payload of
`{
      client_id: AUTH0_CLIENT_ID,
      client_secret: AUTH0_CLIENT_SECRET,
      audience: AUTH0_AUDIENCE,
      grant_type: 'client_credentials'
}`

This call returns something like this:
`{
    token_type: 'Bearer',
    access_token: JWT_ACCESS_TOKEN
}`

When you have the token, insert it in the Authorization Header:

[2019-11-27 14:13] ColRad commented on #20
To decouple from the name 'Auth0' we decided to rename all the AUTH0_ env vars to:
`AUTH0_BASE_URL` -> `M2M_BASE_URL`
`AUTH0_CLIENT_ID` -> `M2M_CLIENT_ID`
`AUTH0_CLIENT_SECRET` -> `M2M_CLIENT_SECRET`

and we add an env var `M2M_AUDIENCE` so http-worker implementer dont need to Edward Scissorhands the ENV_VARS_URL

[2019-11-27 15:38] berndruecker commented on #20
@ColRad Would you mind renaming them even to

[2019-11-28 07:40] ColRad commented on #20
ok will do

[2019-11-28 08:45] #20 closed

[2019-11-28 08:47] berndruecker commented on #7
COnfig Options

[code]

Readiness probes endpoint (using Spring Boot standard): http://ENDPOINT/health

[2019-11-28 09:03] #7 closed

[2019-11-28 09:17] berndruecker commented on #4
That does not work IMHO as you might have parallel pathes overwriting that message.
At the moment the `jobKey` can be passed on to the external lambda and used to complete a waiting task/job - so no need to send in a message.

[2019-11-28 11:36] berndruecker opened #21 "Allows expressions in ${xxx} style for backwards compatibility"
Introduction of Mustache changed the expression format - we still need to support the existing one

[2019-11-28 11:42] #4 closed

[2019-11-28 13:22] #21 closed

[2019-12-02 10:23] saig0 commented on #4
Currently, jobs are not failed if the returned status code is in the given `statusCodeFailure` task header ( default: `3xx, 4xx, 5xx`). The job command is not sent.

[2019-12-02 10:26] berndruecker commented on #4
Thanks! I will add a test case and fix that.

[2019-12-02 10:38] berndruecker opened #22 "Configure retry behavior based on status code"
We should allow the retry behavior to be dependent on the status code, see e.g. https://softwareengineering.stackexchange.com/questions/341518/rest-how-to-determine-transient-exceptions

I don't think the worker should make a final decision, but it should also be configurable (e.g. 503 should be retried, but 500 not).

[2019-12-02 10:56] berndruecker commented on #4
https://github.com/zeebe-io/zeebe-http-worker/commit/c3f6a5250e023ed8756d3381c9393de42a5289f5

[2019-12-02 10:57] saig0 commented on #4
Regarding the `jobKey` variable, I don't see a big issue here. Since the HTTP worker is a reusable worker, I assume that the task has output variable mappings to map the generic job variables into concrete workflow instance variables. If the `jobKey` is not listed then it is not merged into the workflow instance variables.

My idea was that if the worker gets a 202 status code, it completes the jo

[2019-12-02 11:00] berndruecker commented on #4
Thanks for the explanation! My hope would be that https://github.com/zeebe-io/zeebe/issues/3417 allows to have a more flexible approach without the worker doing this (e.g. using the jobKey in an EL on input/output) - but let's wait for that to be sketched out

[2019-12-03 08:21] ColRad opened #24 "Variables format from ENV_VARS_URL is wrong"
The endpoint returns an JSON Array with following format:

`[{ key: 'testKey0', value: 'testValue0' }, { key: 'testKey1', value: 'testValue1' }]`

[2019-12-03 08:27] ColRad opened #25 "Not connecting to zeebe inside a cloud Zeebe cluster"
To connect to a zeebe gateway inside the same namespace (Cloud Zeebe cluster) the env var ZEEBE_GATEWAY_ADDRESS can be used.

[2019-12-03 08:32] ColRad opened #26 "Liveliness probe not working."
Probe should be available under
`/healthz`

[2019-12-03 08:47] ColRad opened #27 "Running Docker image fails"
Running the java application locally works But running the docker image fails with:
`08:17:25.624 [main] WARN org.springframework.boot.web.servlet.context.AnnotationConfigServletWebServerApplicationContext - Exception encountered during context initialization - cancelling refresh attempt: org.springframework.context.ApplicationContextException: Unable to start web server; nested exception is org.s

[2019-12-03 08:47] berndruecker commented on #26
@ColRad  Couldn't you change the probe URL? The current URL is Spring Boot default and thus I would love to keep it.

[2019-12-03 08:48] berndruecker commented on #25
@ColRad Can you please adjust the environment variable when using the new docker image? The current value is the default used at different places in the Zeebe ecosystem, so we need to keep it (and it is quite a bit of effort to allow to an alias)

[2019-12-03 09:01] berndruecker commented on #24
See https://github.com/camunda-cloud/console/blob/master/commons/WorkerVariable.dto.ts in legacy cloud worker

[2019-12-03 09:12] #24 closed

[2019-12-03 09:17] berndruecker commented on #27
@ColRad Did you check with setting the proper zeebe endpoint variable?
The difference I immediately think of is that you can't reach Zeebe via the default localhost:PORT with the docker image.

[2019-12-03 09:26] berndruecker commented on #27
@ColRad Having another idea - checking that now

[2019-12-03 09:26] ColRad commented on #27
So currently I'm not running zeebe at all. The Java application throws `Failed to activated jobs for worker "http-worker" and job type http` and retries.
But on Docker the whole application crashes with the stacktrace I posted.

[2019-12-03 09:47] #27 closed

[2019-12-03 09:48] berndruecker commented on #27
@ColRad Can you please try again with the fix just provided? It was indeed a problem in the build process

[2019-12-03 13:37] ColRad commented on #26
@berndruecker does spring serve an `/actuator/ready` endpoint as well? We need this for k8s monitoring.

[2019-12-03 13:46] berndruecker commented on #26
Currently there is the same endpoint serving this - please use that one for both.
We briefly started the discussion but abandoned it if there is value in a special health endpoiint, as e.g. a lost connection to Zeebe does not make the Http Worker unhealthy. So spontaneously I don#t know what exactly would make it unhealthy that is different from ready

[2019-12-03 13:49] ColRad commented on #26
ok will just use the `/actuator/health`

[2019-12-03 13:57] ColRad commented on #25
ok will do, is `ZEEBE_ENDPOINT` ok?

[2019-12-03 14:09] berndruecker commented on #25
No - please use the one defined in https://github.com/camunda-cloud/zeebe-http-worker/issues/38

zeebe.client.broker.contactPoint=127.0.0.1:26500

[2019-12-04 05:12] Klaus-Nji-sp opened #28 "Worker fails with exception if none of the new exposed environment variables are set"
Checked out the most recent changes and attempted to run the worker without setting any of the new environmental variables such as ENV_VARS_URL (e.g. http://someUrl/config, default: null)
ENV_VARS_RELOAD_RATE (defaullt 15000), etc.

When worker is invoked, the following exception is raised:

[code]

I am also able to duplicate the problem by commenting out these lines in the unit test:

[code]

If

[2019-12-04 12:10] ColRad commented on #25
ok will do

[2019-12-04 22:05] ultraschuppi commented on #25
let us go with `ZEEBE_CLIENT_BROKER_CONTACTPOINT`

[2019-12-05 11:10] ultraschuppi opened #29 "default for ENV_VARS_RELOAD_RATE not working"
we are trying to get the zeebe-http-worker into camunda-cloud, these are the env-vars we are setting for the container:

[code]

[code]

we aren't setting `ENV_VARS_RELOAD_RATE` intentionally and were expecting the default would kick in ;-)

[2019-12-05 11:21] ultraschuppi commented on #29
probably relates-to/same-as #28

[2019-12-05 11:44] afirth commented on #29
my guess is that `"${ENV_VARS_RELOAD_RATE:15000}"` returns a string, which would need to be cast to `long` by the getter
should this be `=` instead at https://github.com/zeebe-io/zeebe-http-worker/blob/7c670dc7cd45553dc7396f2b50af1a08a039f52a/src/main/java/io/zeebe/http/ZeebeHttpWorkerConfig.java#L16 - like https://github.com/zeebe-io/zeebe-http-worker/blob/7abec1919f4754e0239f616ba59258987a422167

[2019-12-05 12:53] #26 closed

[2019-12-05 12:54] berndruecker commented on #25
Yeah - sorry - I fix the docs

[2019-12-05 12:54] #25 closed

[2019-12-05 13:21] #28 closed

[2019-12-05 13:21] berndruecker commented on #28
Thanks @Klaus-Nji-sp for reporting! Fixed

[2019-12-05 13:51] #29 closed

[2019-12-05 13:52] berndruecker commented on #29
This was actually a problem in the build itself, not adding all necessary Spring dependencies leading to properties not being resolved. Should be fixed now

[2019-12-05 16:33] berndruecker opened #30 "Optimze ressource consumption of HTTP worker"
The current HTTP worker requires probably too much resources, especially compared to the "legacy" NodeJs one from the cloud. There is a lot of potential for optimization.

[2019-12-05 20:51] saig0 commented on #30
This is not surprising :sweat_smile:

I guess the best results can be reached by a native image with GraalVM or Quarkus.
What do you think?

[2019-12-06 08:41] berndruecker commented on #30
I agree - not surprising at all. Yeah, both are interesting directions to explore - maybe some others as well. For the moment it is not yet urgent, so I will not directly jump into it. But it would be indeed a good opportunity to play a bit with Quarkus :-)

[2019-12-06 08:59] Klaus-Nji-sp commented on #28
@berndruecker, thanks for the fix.  I do realize this PR is closed and will open a new issue if this is really an issue but here is a new behavior I have found with the new release.

I now have to create an output mapping with source defined as statusCode and target defined as statusCode to be able to use the value of statusCode returned from the http task in an exclusive gateway.  Did not have to

[2019-12-06 20:35] Klaus-Nji-sp opened #32 "Variables returned from HTTP task are no longer available in parent scope"
In the previous release of this task, the following variables were returned:

- statusCode
- body

Without defining any output mapping, it was possible to reference these variables in downstream paths of a workflow.  For example, I used the statusCode in one branch of the exclusive gateway as follows:

`statusCode == 200 && someOtherProperty != null`

This worked.

With the current release, **_sta

[2019-12-09 05:33] saig0 commented on #32
Hi @Klaus-Nji-sp,

I don't think that this behavior was changed in the latest release.

In your example, I see that the task has an output mapping to pass the `body` to a given variable. If one output mapping is defined then the default merging behavior is disabled and all variables have to be mapped explicitly. Otherwise, the variables are not merged.

Does this make sense for you?

[2019-12-09 22:28] Klaus-Nji-sp commented on #32
That makes sense @saig0 .   Thanks for the response.  Don't know how I got this working before with partial mappings!

[2019-12-10 09:54] berndruecker commented on #28
Hey @Klaus-Nji-sp: This is wired - it should actually be totally standard behavior: https://github.com/zeebe-io/zeebe-http-worker/blob/master/src/main/java/io/zeebe/http/HttpJobHandler.java#L69

[2019-12-10 11:59] Klaus-Nji-sp commented on #28
Yes, it is weird.  I'll keep investigating.  In the meantime, I am ok with the mapping.... but perhaps this behavior should be well understood.

[2019-12-10 12:32] berndruecker commented on #28
Yeah! Would be awesome if you could investigate a bit more. And also feel free to open an issue for it

[2019-12-26 20:04] 0x15e opened #33 "Inconsistent order of variable preference in ConfigurationMaps.java"
It looks like there are effectively two ways to retrieve the configuration for a job via the ConfigurationMaps class: the `get` (or `getString`) or `getConfig` methods.

However, the custom headers, job variables, and environment variables are added to the config map in a different order than they are referenced by the `get` method.

For example, if a job has a custom header "foo" with value "foo"

[2020-01-07 15:27] urbanisierung opened #34 "Jobs are not executed after a while"
**Issue:** Jobs are executed if worker boots up and jobs are already waiting. As soon as the worker is started and new instances have been started some jobs are executed but at some point further jobs are not activated and instances are pending.
**Environment:** Cloud and locally
**Steps to reproduce locally:**
* Start `zeebe` and `operate` locally, the easiest way is to use the docker-compose pro

[2020-01-08 06:59] Zelldon commented on #34
Might be related https://github.com/zeebe-io/zeebe/issues/3585

[2020-01-10 10:31] urbanisierung opened #35 "Configure custom type for worker"
Currently the type for which the worker is registered is not configurable and set to `http`. In some use cases it would be useful to set a custom type.

The worker name is already configurable via the environment variable `ZEEBE_WORKER_NAME`. The same approach would fit to set the worker type with a new env var `ZEEBE_WORKER_TYPE`.

[2020-01-10 12:01] berndruecker commented on #35
Make sense for me. I can most probably look at it next week

[2020-01-10 12:04] berndruecker commented on #33
I am not sure if there was a special reasoning for that decision (maybe @saig0 remembers), but I do agree that this is confusing and we should harmonize the behavior. I plan to do another iteration on the worker next week.

[2020-01-10 12:27] menski commented on #34
I still cannot reproduce this with a simple http workflow locally. So it could be related with something else. I will try to figure out how to setup the cloud examples

[2020-01-10 13:02] menski commented on #34
Further testing indicated that the problem is that a request to github is hanging and does not finish, as the worker does not set a request timeout the worker hangs forever. As the worker is single threaded and blocking on the http request it would explain why no more jobs are executed.

[2020-01-10 13:51] berndruecker commented on #34
OK - so a fix could be to have a request timeout.
Probably we should also think about making that worker multi-threaded?

[2020-01-10 14:00] menski commented on #34
Actually it has a timeout set of 1 Minute but it seems the http client is not triggering it https://github.com/zeebe-io/zeebe-http-worker/blob/86e4ddafe41335bf71291eb9bef2402a403d11db/src/main/java/io/zeebe/http/HttpJobHandler.java#L89

I was able to get it working by using `sendAsync` and to do timed get call on the response future. it then will explode after a while and handle the next request.

[2020-01-13 05:32] saig0 commented on #33
Agree. That does not make much sense. I should be consistent ;)

[2020-01-13 08:19] menski commented on #34
@berndruecker my quick fix was something like this in `HttpJobHandler#handle`

[code]

but I'm still not sure why the timeout of java http client does not work.

[2020-01-14 12:09] berndruecker commented on #35
I introduce this new property:

`zeebe.worker.defaultType` or via respective environment variable `ZEEBE_WORKER_DEFAULTTYPE`

Please note that I adjusted the worker name accordingly - so it did change to  `ZEEBE_WORKER_DEFAULTNAME`

This change will leverage a new Spring Zeebe version that is based on Zeebe 0.22.0

[2020-01-15 08:41] berndruecker commented on #34
Investigating a bit it looks like the timeout above is a_connection timeout_, meaning it only applies to establishing the connection, even if the ApiDocs say differently ("Sets a timeout for this request. If the response is not received within the specified timeout then an {@link HttpTimeoutException} is thrown"). However, I do not see a real downside of sending it async and wait for the Future a

[2020-01-15 10:27] berndruecker opened #38 "Update to Zeebe 0.22.0"

[2020-01-15 10:28] berndruecker commented on #38
fixed with threads

[2020-01-15 10:28] #38 closed

[2020-01-15 10:28] berndruecker commented on #38
fixed with https://github.com/zeebe-io/zeebe-http-worker/commit/4827c220283c70357d7adc2af983a12cf0cc33f8

[2020-01-15 10:43] #33 closed

[2020-01-15 10:56] berndruecker opened #39 "Add all variables to the http request if body is not set (for post|put|patch)"
If the body is not configured the default should be that all workflow variables are added to the HTTP REQUEST (like the legacy cloud worker: https://github.com/camunda-cloud/zeebe-http-worker/blob/master/src/worker/job.handler.ts#L105)

[2020-01-15 10:57] berndruecker commented on #39
Probably blocking https://github.com/camunda-cloud/zeebe-http-worker/issues/38

[2020-01-15 11:05] berndruecker commented on #39
@saig0 raised a valid issue: How can we send a request with an empty body if this is implemented?

[2020-01-15 11:06] berndruecker commented on #33
I plan to release a 0.22.0 version of the worker soon where this is resolved

[2020-01-15 11:57] berndruecker commented on #39
Decided not to do it because of the potential problems it can cause.

[2020-01-15 11:57] #39 closed

[2020-01-15 13:49] urbanisierung commented on #34
Unfortunately I have to re-open this bug.

I can now see the timeouts that are implemented, but they don't help the worker to process all jobs again. When I restart the worker, all open jobs are processed again.

Setup: used the docker-compose env from the description, beside:
* Worker: https://app.camunda.com/nexus/#browse/search=keyword%3Dzeebe-http-worker:zeebe-io-snapshots%3Aio.zeebe%3Azeebe-h

[2020-01-15 15:21] berndruecker commented on #34
@urbanisierung: Damn it - can you share your workflow definition than I will try this locally

[2020-01-15 15:37] urbanisierung commented on #34
@berndruecker here is the workflow definition I'm using:
[editGithubIssue.zip](https://github.com/zeebe-io/zeebe-http-worker/files/4065638/editGithubIssue.zip)

* just one service task to patch a github issue
* using payload:

[code]

* with this payload a new label array will be set
* you need a github token to get it running

steps:
* start creating instances: all fine
* stopping creating instan

[2020-01-15 16:47] 0x15e commented on #33
Thanks for clearing it up!

[2020-01-16 07:39] urbanisierung commented on #34
@berndruecker here is a script do reproduce it:

[code]

[2020-01-17 13:39] berndruecker commented on #34
Java version update did fix it

[2020-01-17 13:39] #34 closed

[2020-01-17 15:51] berndruecker opened #40 "Jobs fail if there are no cloud variables set at all"
Should work with an empty map instead.

`java.lang.RuntimeException: Could not load variables from 'https://variables.cloud.dev.ultrawombat.com/private/variables/0a34365c-73a5-45cc-9063-a16b192c5fd4': No content to map due to end-of-input at [Source: (String)""; line: 1, column: 0] at io.zeebe.http.EnvironmentVariableProvider.getVariables(EnvironmentVariableProvider.java:91) at io.zeebe.http.HttpJ

[2020-01-17 16:19] #40 closed

[2020-01-18 15:35] Klaus-Nji-sp commented on #30
Is resource consumption from Spring?  If so, have you guys also considered alternate frameworks such as Micronaut?

[2020-01-21 07:04] berndruecker commented on #30
It is a couple of things. First you could definitely optimize the Spring Boot Setup. But we could also try some other frameworks. We deprioritized this for now and pretty sure will come back at a later stage.

[2020-01-22 20:46] manideep418 opened #44 "Running Docker image fails"
Running the docker image using docker-compose file fails. docker run not reading the environment variables specified in the docker-compose file.
`version: "2"

services:
  zeebe:
    container_name: zeebe_worker_lock_order
    image: camunda/zeebe-http-worker
    environment:
      - ZEEBE_CLIENT_WORKER_DEFAULTNAME='Lock Order'
      - ZEEBE_CLIENT_WORKER_DEFAULTTYPE='LockOrder'
      - ZEEBE_CLIE

[2020-01-22 20:53] nizarelouaer opened #45 "Body of Http Post"
Hello,
I am using the http worker to communicate with my Rest Microservices. One of my services accepts a POST request with a JSON body. I tried to set the body cariables in the headers using the zeebe modeler but it does not work. In the modeler there is no option to set Variables, the only options are Variable Mappings and Headers. How can I set the body of my request using the modeler ?
Thank y

[2020-01-23 07:00] saig0 commented on #45
Hi @nizarelouaer,

you have different options to set the body of the request.

If the body is static then you can define a custom header `body` on the service task (e.g. `body : {"x":1}`).

Otherwise, the body can be passed as a workflow instance variable with the name `body`. If the workflow instance doesn't have such a variable with the name then you can define an input mapping on the service ta

[2020-01-23 07:15] nizarelouaer commented on #45
Hi @saig0 thank you for the comment. The body is not static so I’m my input mappings I am setting it like the following :
Input : variable1 output body.variable1
Input : variable2 output body.variable2
When I open my workflow instance using the operate I can set that there is a body variable body = {variable1:value1, variable2:valie2}. That is ok but my service is returning bad request, it seems t

[2020-01-23 08:50] nizarelouaer commented on #45
I am now able to set the body, but I am having an issue with the header. In my request I have a key in the header:
""""
Connection | Upgrade, HTTP2-Settings
"""
This is making the server reject the request with 400 Bad Request. Is it a key added by the http worker ? zeebe ? thank you
-- | --

[2020-01-23 09:59] salaboy commented on #45
@nizarelouaer that is interesting.. that is probably the case.. let's investigate

[2020-01-23 10:02] salaboy commented on #45
@nizarelouaer For some reason, we are using HttpClient class, https://github.com/zeebe-io/zeebe-http-worker/blob/master/src/main/java/io/zeebe/http/HttpJobHandler.java#L55 that might be automatically initialized with that... I will look deeper

[2020-01-23 10:04] nizarelouaer commented on #45
@salaboy I just read the http worker java code and there is nothing that sets the connection key header. I guess it is set in the zeeebe itself maybe

[2020-01-23 10:09] nizarelouaer commented on #45
@salaboy in the java code the header are set without any connection key. I think that I will add the header key
“”””
Connection=keep-alive” in the java code :
   final HttpRequest.Builder builder =
        HttpRequest.newBuilder()
          .header(“Connections”, “keep-alive”)
“””””
And compile to see if it solves the issue

[2020-01-23 10:28] salaboy commented on #45
@nizarelouaer awesome! lets us know how it goes!

[2020-02-03 22:51] jwulf commented on #35
Can we make this an array, so that all code / tutorial examples that make use of `CAMUNDA_HTTP` still work? We are generating tutorials and examples now using this, and it would be best if they didn't rot. Also, users are deploying workflows using this task type.

It does make more sense on Camunda Cloud to use `ZEEBE-HTTP` as the task type, as explaining it in docs at the moment is:

**Before**

[2020-02-11 06:30] jwulf opened #47 "Configuration keys overwrite each other"
Configuration keys from variable mappings clobber those from custom headers. For example:

Custom Header:
`body`: `{event_type: "message", client_payload: {message_name: "THROW_YO"}}`

Input Variable mapping:
`test`: `body.client_payload.test`

Expected Output:
[code]

Actual output:

[code]

I expect a JSON merge. It's probably non-trivial to write in Java, but if you create a ScriptEngine you ca

[2020-02-11 07:04] jwulf commented on #47
I'll PR it in.

[2020-02-11 07:20] saig0 commented on #47
Hey @jwulf, I'm not sure about the expected behavior you describe. Merging the custom headers with the variables was not intended originally. And it is nothing that is supported by the broker. Introducing this special logic only for this worker could be confusing for users.

We will add advanced expression support in the broker that will allow to do this in the variable mappings without defining t

[2020-02-11 07:25] jwulf commented on #47
Ar the moment you can merge headers and variables, but not in depth. Top-level keys overwrite everything when merged.

This is in the body of the POST request

[2020-02-12 01:40] jwulf commented on #47
See [here](https://github.com/jwulf/camunda-cloud-message-publish/blob/master/README.md#more-advanced-example) for the use case.

[2020-02-13 07:11] jwulf opened #49 "503 response causes halt"
If the HTTP Worker gets a 503, it doesn't raise an incident or return an error. The process just halts.

<img width="596" alt="Screen Shot 2020-02-13 at 5 01 51 pm" src="https://user-images.githubusercontent.com/406975/74409994-c457eb80-4e83-11ea-950e-35e835187a38.png">
<img width="319" alt="Screen Shot 2020-02-13 at 5 05 28 pm" src="https://user-images.githubusercontent.com/406975/74409998-c6ba45

[2020-02-13 13:04] urbanisierung opened #50 "metrics HTTP endpoint for scraping (Prometheus)"
It would be very useful to have a metrics HTTP endpoint in the http worker so Prometheus can scrape monitoring related information.

Prometheus offers a java client library for it: https://github.com/prometheus/client_java

[2020-02-14 01:53] jwulf commented on #35
This env var `ZEEBE_WORKER_DEFAULTTYPE` may be misnamed: it looks like it is not the "default" type, but the **actual** task type - in which case a more accurate name would be `ZEEBE_WORKER_TASKTYPE`.

See here: https://forum.zeebe.io/t/http-worker-not-working/1010

[2020-02-18 15:20] berndruecker commented on #35
I would say best create a new issue to address the different issues with the worker.

[2020-03-06 14:15] nervgh opened #54 "worker throws an error when API point returns the empty body"
Hi everyone!

Zeebe and zeebe-http-worker both are very interesting ambitious solutions  :+1:

I took one of our services which has a healthcheck API point `/api/healthcheck` which returns  the empty body to test zeebe-http-worker. And I had next error

[code]

Is it a bug or by design?

Thank you.

[2020-03-09 05:23] saig0 commented on #54
Hi @nervgh,

thank you for raising this up!

The worker should handle an empty response body. In this case, no variable `body` is created. If a body is returned then it assumes that the body is JSON. If it is not JSON then it fails.

It seems that the exception is raised because the body is not a JSON object. Instead, it is a plain text "OK".

Please check the response from the service and share i

[2020-03-09 16:08] nervgh commented on #54
@saig0 , thank you for your reply!

You was right :see_no_evil:

1) When a server responds with `200` status code its response MUST have a body.
2) If a response does not have body at all then a server MUST respond with status `204` (No Content)

https://www.g33kzone.com/2017/05/http-status-codes-200-vs-202-vs-204.html

So we have changed 200 -> 204. zeebe-http-worker works fine :+1:

[2020-03-09 16:08] #54 closed

[2020-03-12 18:43] jwulf opened #58 "Headers should be case-insensitive"
At the moment a header of `URL` doesn’t work on a task, and a header of `url` does.

Is there any good reason to make them case-sensitive?

It’s just friction from a useability perspective. The user’s intent is unambiguous, regardless of the casing of the header, so the worker should ignore case by calling `toLowerCase()` on header keys before parsing them.

[2020-03-13 05:41] saig0 commented on #58
Sounds reasonable :+1:

[2020-05-05 09:32] berndruecker opened #64 "Allow setting additional HTTP headers (e.g. api-key)"
In the earlier version of the cloud worker it was possible to set additonal http headers via the Zeebe Task Headers, e.g.

[code]

This is not possible anymore with the current worker, but it makes a ton of sense to have it. It still need to be decided how exactly this is configured. I would probably simply propose a simple naming convention of the key, e.g. 'header-x-api-key', but haven't gave it

[2020-07-08 20:07] datakurre commented on #64
This would be nice. I was learning Camunda Cloud trial "out-of-the-box", and this became the first "blocker" to demo it without setting up custom workers.

[2020-07-13 19:18] pabloromanelli opened #76 "Release new docker images"
Hi, I can't see in docker hub the latest versions deployed:
https://hub.docker.com/r/camunda/zeebe-http-worker/tags

Only the `SNAPSHOT` image was updated.

Would it be possible to have all the other versions deployed individually?

[2020-07-25 13:58] jayita01 opened #80 "Related to editing of backpressure configuration"
Hi, Zeebe Broker Version 0.23.4 has been used to deploy and run a bpmn workflow. Need some changes in broker backpressure configuration instead of the default one. As per the zeebe documentation (https://docs.zeebe.io/appendix/broker-config-template.html), broker backpressure related changes are made in config/broker.standalone.yaml.template Standalone Broker (with embedded gateway)  file and the

[2020-07-31 06:41] saig0 commented on #76
Hi @pabloromanelli,

thank you for raising this up. Too much time has passed since the last release :see_no_evil:

Unfortunately, I lost track after the project was used in the Camunda cloud. Since it is not used anymore in the cloud, I'll take it over again.

I'll update a few things and then build a new release and publish the docker image. Stay tuned :balloon:

[2020-08-03 04:39] saig0 commented on #76
The new release is out: https://github.com/zeebe-io/zeebe-http-worker/releases/tag/0.23.0

Also, available on DockerHub: `docker pull camunda/zeebe-http-worker:0.23.0`

[2020-08-03 04:39] #76 closed

[2020-09-02 05:02] saig0 commented on #49
Should be fixed by #69.

[2020-09-02 05:02] #49 closed

[2020-09-02 05:08] saig0 commented on #44
A new HTTP worker image is published on https://hub.docker.com/r/camunda/zeebe-http-worker.

Please verify if it is working now :)

[2020-09-02 05:18] saig0 commented on #22
Currently, it is possible to configure when a job should be completed, failed, or throw an error event.

@berndruecker do you need more than this? Please describe your use case which is not covered.

[2020-09-04 03:13] saig0 commented on #22
So, you would like to do the retry in the job worker itself instead of failing the job?

Assuming that we will implement the job retry with a timeout (https://github.com/zeebe-io/zeebe/issues/164) soon, would you still prefer the try handling in the job worker? Why?

[2020-12-04 21:26] YounesTea commented on #44
I can't run the latest Docker image of this repo :

[code]

[2020-12-18 22:23] saig0 commented on #44
@YounesTea, the worker tries to connect to a Zeebe broker that runs on `127.0.0.1:26500`. Please check if this is the correct address of your Zeebe broker.

[2021-06-11 12:25] #35 closed

[2021-07-28 18:02] tomas-zemres opened #146 "Documentation for version 3.0* (Worker Quickstart) is not up to date"
I try example:

https://pyzeebe.readthedocs.io/en/pre-release-3.0.0/worker_quickstart.html#create-and-start-a-worker

It raises exception:

[code]

[2021-07-28 18:05] tomas-zemres commented on #146
I was trying following exmple from the link with library:**pyzeebe 3.0.0rc3**

[code]

[2021-07-28 18:16] tomas-zemres opened #147 "Can you add to documentation example how to call worker.stop() in "async pyzeebe 3.0.0""
We are trying to use Zeebe 1.1.0 with pyzeebe 3.0.0rc3,

and we want to add signal handler on SIGTERM that calls worker.stop().
But we don't know how to correctly call "worker.stop()" that is "async def" from the signal handler.

Is it possible add simple example that uses "worker.stop()" to documentation for "async" pyzeebe 3.0.0, please?

[2021-07-28 18:36] celanthe commented on #147
Hi @tomas-zemres! I noticed that you're using pyzeebe. You may want to also [open an issue](https://github.com/camunda-community-hub/pyzeebe/issues_) in that repository. The maintainer of pyzeebe, @JonatanMartens, is quite helpful and I'm sure would be happy to assist. :)

[2021-07-28 18:53] tomas-zemres commented on #146
Sorry, I was posted the request to wrong repository, I reported it there https://github.com/camunda-community-hub/pyzeebe/issues/194

[2021-07-28 18:55] tomas-zemres commented on #147
Sorry, I was posted the request to wrong repository, I reported it here https://github.com/camunda-community-hub/pyzeebe/issues/195

[2021-07-28 18:57] #146 closed

[2021-07-28 18:57] #147 closed

[2021-09-21 12:40] saig0 commented on #64
To sum it up, we want to support arbitrary HTTP headers by using all custom headers/variables starting with the prefix `header-` as HTTP headers.

[2022-01-04 12:20] saig0 commented on #58
Done by #164 :rocket:

[2022-01-04 12:20] saig0 commented on #64
Done by #163 :rocket:

[2022-01-04 12:20] #64 closed

[2022-02-01 08:01] pihme opened #203 "Add feature to blacklist IPs/domains"
In order to run http worker in Camunda Cloud SaaS we need a feature to blacklist certain IPs / domains from being accessed.

Otherwise an attacker could use the running http worker to access/modify information within our cluster. Same will hold true for self-managed deployments.

This may become obsolete for Camunda Cloud SaaS if the network topology changes and each resource only sees the other r

[2022-02-11 07:28] pihme opened #206 "Add elements template"

[2022-02-11 07:30] pihme opened #207 "Package worker, elements template and metadata into connector"

[2022-02-11 07:32] pihme opened #208 "Adjust worker to follow conventions defined for connectors"
depends on https://github.com/camunda/cloud-connectors/issues/3

[2022-02-11 07:45] pihme opened #209 "Add documentation for connector"

[2022-02-11 07:46] pihme opened #210 "Decide whether we want to keep or remove Moustache support"
Currently this worker uses Moustache for templating. As part of the Connectors topic this approach was questioned. Overall sentiment seemed to be in favor of having templating done with FEEL expressions and using the engine to do it.

At the same time, if the worker is used in a connector and corresponding element template, then this setup allows less flexibility to define in and output mappings.

[2022-02-11 07:51] pihme commented on #210
cc @saig0 @nikku

[2022-02-11 07:56] pihme opened #211 "Make Connector production ready"
- [ ] make Docker image smaller
- [ ] Final name for image
- [ ] Confirm Repo privacy/license/publishing to Maven (of the worker)

[2022-02-11 08:46] nikku commented on #210
I think I got your point. It is a `A` or `B` decision, no `A+B`, essentially.

Read my thoughts [here](https://github.com/camunda/cloud-connectors/issues/10#issuecomment-1035983090).

[2022-02-14 14:46] saig0 commented on #210
No. The worker receives all variables independent if the task has variable input mappings or not.

[2022-02-14 16:19] nikku commented on #210
Thanks for clarifying.

[2022-03-16 09:51] #207 closed

[2022-03-16 09:51] #208 closed

[2022-03-16 09:52] #211 closed

[2022-03-16 09:53] #210 closed

[2022-03-16 09:54] #209 closed

[2022-03-16 09:57] #203 closed

[2022-06-24 20:08] PedroKravetz opened #247 "Accept SOAP request in Worker"
The worker currently doesn't accept receiving xml, it fails to convert it to Json, to solve this issue, I develop a code which makes SOAP request available, transforming it into Json in the worker and returning it to Zeebe. I will put it as a pull request.

[2022-06-27 13:04] PedroKravetz commented on #247
#248 # #

[2022-08-29 19:00] PedroKravetz commented on #247
#252 resolved this issue

[2022-08-29 19:00] #247 closed

[2022-10-03 10:57] tapanNMBR opened #265 "How to POM Dependency and register as Zeebe Worker ?"
Help me with integrating this as repo as dependency and get http zeebe worker registered...

I am able to include as dependency with below..
<dependency>
            <groupId>io.zeebe</groupId>
            <artifactId>zeebe-http-worker</artifactId>
            <version>1.2.0</version>
        </dependency>

But its not registering as Zeebe worker and still unable to invoke worker... adding worker

[2022-10-04 04:03] saig0 commented on #265
@tapanNMBR please have a look at the install instructions: https://github.com/camunda-community-hub/zeebe-http-worker#install

It is recommended to use the Zeebe HTTP worker as a Docker image.

[2022-10-04 04:56] tapanNMBR commented on #265
@saig0 : i get Docker is recommended approach, But is it possible to use as dependency or not ?

[2022-10-04 05:19] saig0 commented on #265
Embedding the worker inside another Java Spring Boot application might be possible. But you would need to boot the worker application somehow. But I can't tell you how.